# users
USER1KEY=
USER2KEY=
USER1HASH=
USER2HASH=

# database
DATA_PATH=data
ORIGINAL_CSV=ibm_4y.csv
DATA_FILE=clean_cc_data.csv
DATA_FOLDER=

DATABASE_FILE_NAME=fraud_transactions    
DATABASE=postgresql://inbalshalev@localhost:5432/fraud_transactions

# mlflow:
MLFLOW_TRACKING_USERNAME=user1
MLFLOW_TRACKING_PASSWORD=USER1KEY

